/* Created by: Noah Smith
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Assign-03-PHP-CalculationsCylinder
*/

h1 { 
	background: #fda403;
  text-align: center;
}
	
body { 
	background: #e8751a;
}

h3 { 
	background: #c51350;
  color: turquoise;
  text-align: center;
}

p { 
	background: #8a1253;
  text-align: center;